<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:,">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript'type="module" defer > 
        var filename = ''; 
      </script>
    <script src="/static/js/app.js" type="module" defer></script>
    <title>Generation of Photo Realistic Image using GAN and SPADE</title>
</head>
<body>
    <div class="toolbox left">
        <div class="group commands">
            <div class="item" data-command="undo" title="undo" >
                <img src="/static/images/undo.png" alt="undo image">
            </div>
            <div class="item" data-command="download" title="download" >
                <img src="/static/images/download.png" alt="undo image">
            </div>
        </div>
        <div class="group shapes">
            <div class="item" data-tool="circle" title="udno" >
                <img src="/static/images/circle-icon.png" alt="undo image">
            </div>
        </div>
        <div class="group tools">
            <div class="item active" data-tool="pencil" title="Pencil tool" >
                <img src="/static/images/pencil-icon.png" alt="undo image">
            </div>
            <div class="item " data-tool="brush" title="Brush tool" >
                <img src="/static/images/brush-icon.png" alt="undo image">
            </div>
            <div class="item" data-tool="paint-bucket" title="Paint Bucket tool" >
                <img src="/static/images/paint-bucket-icon.png" alt="undo image">
            </div>
        </div>
        <div class="group linewidths for-shapes" style="display:block">
            <div class="item active " data-line-width="4" title="4 Pixel">
                <div class="linewidth" style="width:4px;height:4px"></div>
            </div>
            <div class="item" data-line-width="5" title="5 Pixel">
                <div class="linewidth" style="width:5px;height:5px"></div>
            </div>
            <div class="item " data-line-width="6" title="6 Pixel">
                <div class="linewidth" style="width:6px;height:6px"></div>
            </div>
            <div class="item" data-line-width="7" title="7 Pixel">
                <div class="linewidth" style="width:7px;height:7px"></div>
            </div>
            <div class="item " data-line-width="8" title="8 Pixel">
                <div class="linewidth" style="width:8px;height:8px"></div>
            </div>
        </div>
        <div class="group linewidths for-brush" style="display: none;">
            <div class="item active" data-brush-width="4" title="4 Pixel">
                <div class="linewidth" style="width:4px;height:4px"></div>
            </div>
            <div class="item" data-brush-width="6" title="6 Pixel">
                <div class="linewidth" style="width:6px;height:6px"></div>
            </div>
            <div class="item " data-brush-width="8" title="8 Pixel">
                <div class="linewidth" style="width:8px;height:8px"></div>
            </div>
            <div class="item" data-brush-width="10" title="10 Pixel">
                <div class="linewidth" style="width:10px;height:10px"></div>
            </div>
            <div class="item" data-brush-width="12" title="12 Pixel">
                <div class="linewidth" style="width:12px;height:12px"></div>
            </div>
        </div>
    </div>
    <div>

    
<table id="center-content"> 
<tbody>
    <tr>
        <td align="center">
        <canvas id="canvas" width="512" height="256"></canvas>
        </td>
        <td valign="center" align="center">
            <button class="start butt next" ></button>
        </td>
        <td align="center">
            <div id="message" >
                <img src="/static/gallery.png"   id="pp"  alt="photogenic image">
            </div>
        </td>
    </tr>
    
</tbody>
</table>
    
    </div>

    <!-- output image -->
   
    <div class="toolbox right">
        <div class="group swatches">
            <div class="item" data-color="#ffffff" >
                <div class="swatch" style="background-color: #ffffff; "></div>  
            </div>
            <div class="item active" data-color="#000000" >
                <div class="swatch" style="background-color: #000000; ">
            
                </div>
            </div>
            <div class="item" data-color="#ff0000" >
                <div class="swatch" style="background-color: #ff0000; "></div>
            </div>
            <div class="item" data-color="Fog" >
                <div class="swatch" style="background-color: rgb(119, 186, 29); ">
                </div>
            </div>
            <div class="item" data-color="#0000ff" >
                <div class="swatch" style="background-color:#0000ff; "></div>
            </div>
            <div class="item" data-color="#00ffff" >
                <div class="swatch" style="background-color: #00ffff; "></div>
            </div>
            <div class="item" data-color="#5a2d0f" >
                <div class="swatch" style="background-color: #5a2d0f; "></div>
            </div>
        </div>
    </div>
<table class="table" id="gallery">
    <tbody>
        <tr>
            <th>
                <button id="example0" class="btn style0"></button>
            </th>
            <th>
                <button id="example1" class="btn style1"></button>
            </th>
            <th>
                <button id="example2" class="btn style2"></button>
            </th>
            <th>
                <button id="example3" class="btn style3"></button>
            </th>
            <th>
                <button id="example4" class="btn style4"></button>
            </th>
        </tr>
    </tbody>
</table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script type="text/javascript">
        var server = "http://127.0.0.1:5000";

        var op_data= {
            'style_index':1,
        };

       
        $( function() {
            $( ".start" ).click(function() {
                
            
               // filename=download();
                op_data={
                    'filename':filename,
                    'style_image':1
                }
               
                var appdir='/gan';

                var send_msg = "<p>Sending Data</p>";

                var received_msg = "<p>Result returned</p>";

                
                //$('#message').html(send_msg);
                $.ajax({
                      type: "POST",
                      url:server+appdir,
                      data: JSON.stringify(op_data),
                      dataType: 'json'
                }).done(function(data) { 
                    console.log(data);
                    var output='/'+data['img']
                    $('#message').children('img').attr('src', '/static/output'+output).css('right: 12%;position:absolute')
                });
            });
          });

    </script>
</body>
</html>